
#hero{

background-color: rgb(238,235,254);
height: 85vh;
width: 95%;
border-radius: 25px;
display: flex;
overflow: hidden;
padding: 5%;
align-items: center;
position: relative;

justify-content: space-between;
margin-top: 120px;

}

#heroLeft{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.appStoreImg{
 height: 60px;
width: 200px;
}
.star{
   
    color: goldenrod;
}

.outerCircle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px; /* Set the width and height to create a square */
    height: 600px;
    border: 6px dashed #ffffff; /* Set the border style (dashed) and color */
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% of the width/height */
    box-sizing: border-box;  
    /* border-image: repeating-linear-gradient(90deg, #007bff, #007bff 50px); */
}

.aheadIcons{
    height: 100px;
    width: 300px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;

}
#iconBlue{
    position: fixed;
    top:30px;
left:30px;
}
#iconYellow{
    position: fixed;
    bottom:10px;
    left:0px;
}
#iconPurple{
    position: fixed;
    top: 30%;
    right:-20%;
}



.innerCircle{
    position: absolute;
    top: 20%;
    left: 62%;
  transform: translate(-50%, -50%); 
    height: 370px;
    width: 370px;
border-radius: 50%;

    background-color: rgb(226,219,253);
}
.MobileImg{
    height: 400px;
    width: 200px;

}
.cardMobile{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    
}
#card1{
    position: absolute;
    top: 0px;
    left: -160px;
}